/* You can add global styles to this file, and also import other style files */

.bg-primary{
    background-color:#005db9 !important;    
    border-color: #005db9 !important; 
}

agm-map {
    height: 700px;
}