<div class="mt-4">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h2>Ruta Vendedores de terreno</h2>


            </div>
            <div class="card " class="mb-4">
                <div class="card-body shadow p-3 mb-5 bg-white rounded">
                    <div class="row mb-4">
                        <div class="col-md-12 ">
                            <form class="form-inline" [formGroup]="formFechas" (ngSubmit)="obtenerRuta()">
                                <div class="form-group mr-2">
                                    <div class="input-group ">
                                        <select class="form-control" formControlName="vendedor">
                                            <label >Seleccione un vendedor</label>
                                            <option *ngFor="let vendedor of vendedores" [value]="vendedor.Rut"
                                                [selected]="vendedor.nombreCompleto">
                                                {{vendedor.nombreCompleto}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group hidden">
                                    <div class="input-group">
                                        <input name="datepicker" class="form-control" ngbDatepicker
                                            #datepicker="ngbDatepicker" [autoClose]="'outside'"
                                            (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                            outsideDays="hidden" [startDate]="fromDate">
                                        <ng-template #t let-date let-focused="focused">
                                            <span class="custom-day" [class.focused]="focused"
                                                [class.range]="isRange(date)"
                                                [class.faded]="isHovered(date) || isInside(date)"
                                                (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                            </span>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd"
                                            name="dpFromDate" [value]="formatter.format(fromDate)"
                                            formControlName="fechaInicio"
                                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary calendar" (click)="datepicker.toggle()"
                                                type="button">
                                                <i class="far fa-calendar-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ml-2">
                                    <div class="input-group">
                                        <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                                            [value]="formatter.format(toDate)" formControlName="fechaTermino"
                                            (input)="toDate = validateInput(toDate, dpToDate.value)">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary calendar" (click)="datepicker.toggle()"
                                                type="button">
                                                <i class="far fa-calendar-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ml-2">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary " type="submit"
                                                [disabled]="!formFechas.valid">Filtrar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h2>Ruta Vendedores de terreno</h2>
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-direction 
                    *ngFor="let ruta of rutas" 
                    [origin]="ruta.origin" 
                    [destination]="ruta.destination" 
                    [markerOptions]="ruta.markerOptions" 
                    [renderOptions]="renderOptions" 
                    (sendInfowindow)="obtainInfowindow($event)">
                    </agm-direction>
                   
                </agm-map>

            </div>
        </div>

    </div>
</div>